.container{
    display: flex;
    background-color: aqua;
    height: 200px;
    border: 2px solid black;
    width: 400px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* text-align: center; */

}
.first{
    background-color: red;
    
}
.Second{
    background-color: yellow;
}
.Third{
    background-color: blue;
}
.Box{
    width: 100px;
    height: 50px;
    align-items: center;
  display: flex;
  justify-content: center;
  

}
